<!DOCTYPE html>
<html lang="en">

<head>{% include 'commonlibsheader.html' %}

</head>

<style>
.textlabel {
	color: #404040;
	font-size: 14pt;
}

.inputgroup{
	margin-bottom:10px;
}

.field{
	max-width:400px;
}

#canvas{
	width:400px;
	height:300px;
}

</style>

<body onload="new NewReportHandler().initialize()">

	{% include 'header.html' %}

	<!-- Page Content -->
	<form action="addnewhelpreport" method="post">
	<div class="container">
		<h1>Please enter the details of needed help.</h1>
		<div class="form-group">
		
		<h3>Click on the map to automatically fill latitude/longitude and location field.</h3>
		<div class="mapcontainer">
			<div id="canvas"></div>
		</div>

			<div class="inputgroup">
				<div class="textlabel">Your Full name</div>
				<div class="field">
					<input name="reporter_name" class="reporter_name form-control">
				</div>
			</div>

			<div class="inputgroup">
				<div class="textlabel">Your Email*</div>
				<div class="field">
					<input name="reporter_email" class="reporter_email form-control">
				</div>
			</div>

			<div class="inputgroup">
				<div class="textlabel">Your Phone Number</div>
				<div class="field">
					<input name="report_phone" class="reporter_phone form-control">
				</div>
			</div>

			<div class="inputgroup">
				<div class="textlabel">What type of help is needed?*</div>
				<div class="field">
				<select name="help_type" class="form-control">
					<option value="Food">Food</option>
					<option value="Water">Water</option>
					<option value="Rescue">Rescue</option>
					<option value="Health">Health</option>
					<option value="Other">Other</option>
				</select>
				</div>
			</div>
			
			<div class="inputgroup">
				<div class="textlabel">Details about needed help.*</div>
				<div class="field">
					<textarea name="freetext" class="freetext form-control"></textarea>
				</div>
			</div>
			
			<div class="inputgroup">
				<div class="textlabel"> Help needed location? *</div>
				<div class="field">
					<input name="help_address" class="help_address form-control">
				</div>
			</div>
			

			<div class="inputgroup">
				<div class="textlabel">Latitude</div>
				<div class="field">
					<input name="latitude" class="latitude form-control">
				</div>
			</div>

			<div class="inputgroup">
				<div class="textlabel">Longitude</div>
				<div class="field">
					<input name="longitude" class="longitude form-control">
				</div>
			</div>
			
			<div class="inputgroup">
				<div class="textlabel">Photo</div>
				<div class="field">
					<input name="imagelink" class="imagelink form-control">
				</div>
			</div>

		</div>
		
		<button type="submit" class="btn btn-default"> Submit </button>

	</div>
	</form>
	<!-- /.container -->

	{% include 'commonlibsfooter.html' %}
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxnYgT_T-OyegGfQsdfR3fmlBbhATmTNQ&sensor=true"></script>
	<script src="/scripts/js/maphandlergoogle.js"></script>
	<script src="/scripts/js/newhelpreporthandler.js"></script>
</body>

</html>
