<!DOCTYPE html>
<html lang="en">

<head>

{% include 'commonlibsheader.html' %}

</head>

<style>
	#canvas{
		width:99%;
		height:300px;
		margin-bottom:10px;
	}
</style>

<body onload="new ReportList().initialize()">

{% include 'header.html' %}

    <!-- Page Content -->
    <div class="container">
    <h1>Report details.</h1>
    <div class="mapcontainer">
			<div id="canvas"></div>
		</div>
		
	<div class="helpitem">
		
		
	</div>
	<table class="table table-bordered">
	  <tr>
		  <th>Date</th>
		  <th>Type of help</th>
		  <th>Address</th>
		  <th>Status</th>
		  <th>Reported By</th>	  
	  </tr>
	  
	  	<tr>
	  		<td>{{data.reported_date}}</td>
	  		<td>{{data.help_type}}</td>
	  		<td>{{data.help_address}}</td>
	  		<td>{{data.status}}</td>
	  		<td>{{data.reporter_name}}<br/>({{data.reporter_phone}})</td>
	  	</tr>
	  	<tr>
	  	<td colspan="5">
	  	<div>{{data.details}}</div>
	  	</td>
	  	</tr>
	  	
	</table>
	
    <!-- /.container -->

{% include 'commonlibsfooter.html' %}

<div class="mapdata" style="display:none">{{mapdata}}</div>

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxnYgT_T-OyegGfQsdfR3fmlBbhATmTNQ&sensor=true"></script>
	<script src="/scripts/js/maphandlergoogle.js"></script>
	<script src="/scripts/js/reportlist.js"></script>

</body>

</html>
